<% content_for :title, "Blog - Eligia" %>
<% content_for :scroll_navbar, 'scroll-navbar' %>
<% content_for :home_navbar, 'home-navbar' %>
<% content_for :order_new_btn do %>
  <li class="nav-item">
    <%= link_to "Commencer une démarche", new_order_path, class:"btn-principal small", data:{'scroll-navbar-target':'button'} %>
  </li>
<% end %>
<%= render 'shared/navbar' %>

<div class="banner">
  <%= image_tag('illustration-banner-blog.svg', class:'banner-image', alt:'icone résiliation') %>
  <div class="container">
      <h1>Bienvenue sur le blog <br> de eligia.fr</h1>
      <p id='tagline'>Cherchez les réponses à vos questions</p>
  </div>
</div>

<div class="container fullscreen">
  <%= render "blogpost_cards", blogposts: @blogposts %>

  <% if policy(Blogpost).new? %>
    <%= link_to 'Nouvel article', new_blogpost_path, class: 'btn-principal small margin-bottom-five' %>
  <% end %>
</div>

<%= render 'shared/footer' %>
