<% content_for :title, "Contact - Eligia" %>
<% content_for :scroll_navbar, 'scroll-navbar' %>
<% content_for :home_navbar, 'home-navbar position-fixed' %>
<%= render 'shared/navbar' %>

<div class="gradient-bg">
  <%= image_tag("login.svg", alt:'login logo', class:'login-image view-bottom') %>
  <div class="contact-form">
    <div class="contact-form-text">

        <h2 class="home-title no-margin margin-bottom-five">Contactez nous</h2>
        <p> Pour en savoir plus sur notre service ou pour poser n'importe quelle question, veuillez remplir le formulaire ci-dessous</p>

        <%= simple_form_for @message do |f| %>
          <div class="contact-form-head">
            <%= f.input :name,
                            label: '*Votre nom',
                            input_html: { class: 'form-name-input' },
                            autofocus: true %>
            <%= f.input :email,
                            label: '*Votre email',
                            input_html: { class: 'form-name-input' } %>
          </div>
          <%= f.input :body,
                          label: '*Votre message',
                          as: :text,
                          input_html: { class: 'form-name-input-text' } %>

          <div class="contact-form-file">
            <div class="contact-form-file-label">Si vous avez un document à nous joindre :</div>
            <div class="contact-form-file-document" data-controller="add-file">
              <div class="document-btn-and-name">
                <%= f.label ' ' %>
                <%= f.input :attachment,
                              label: "Ajouter",
                              as: :file,
                              input_html: {
                                accept: '.png, .jpg, .jpeg, .pdf',
                                multiple: true,
                                class:'hidden-document-input',
                                data: {
                                  action:'change->add-file#added',
                                  add_file_target:'input'
                                },
                              name: 'message[attachments][]'
                              },
                              label_html: {
                                class:'label-document-input',
                                data: {
                                  add_file_target:'label',
                                  check_document_target:'documentForm'
                                }
                              } %>
                <div class="file-name" data-add-file-target="fileNameDiv"></div>
              </div>
            </div>
          </div>

          <div class="form-actions align-center">
            <%= f.submit 'Envoyer', class: 'btn btn-principal', id:'submit-btn' %>
          </div>
        <% end %>
    </div>
  </div>
</div>
