<div class="container" data-controller="remove-footer">
  <div class="form-div">
    <h2>S'inscrire</h2>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs ">
        <%= f.input :first_name,
                    required: true,
                    autofocus: true,
                    label: false,
                    placeholder:'Prénom' %>
        <%= f.input :last_name,
                    required: true,
                    label: false,
                    placeholder:'Nom' %>
        <%= f.input :email,
                    required: true,
                    label: false,
                    placeholder:'Adresse email'%>
        <%= f.input :phone_number,
                    required: true,
                    autofocus: true,
                    label: false,
                    placeholder:'Numéro de téléphone'%>
        <div class='show-password-devise' data-controller='show-password'>
          <%= f.input :password,
                      required: true,
                      label: false,
                      placeholder:'Mot de Passe',
                      input_html: { data: { 'show-password-target':'field' } } %>
          <div class="show-password-btn" data-action='click->show-password#show' data-show-password-target='eye'>
            <i class="fa-solid fa-eye"></i>
          </div>
        </div>

        <div class='show-password-devise' data-controller='show-password'>
          <%= f.input :password_confirmation,
                      required: true,
                      label: false,
                      placeholder:'Confirmation du mot de passe',
                      input_html: { data: { 'show-password-target':'field' } } %>
          <div class="show-password-btn" data-action='click->show-password#show' data-show-password-target='eye'>
            <i class="fa-solid fa-eye"></i>
          </div>
        </div>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "S'inscrire", class:'btn-principal' %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
