<% content_for :title, "Inscription - Eligia" %>
<% content_for :scroll_navbar, 'scroll-navbar' %>
<% content_for :home_navbar, 'home-navbar position-fixed' %>
<%= render 'shared/navbar' %>

<div class="vh-100 gradient-bg">
   <%= image_tag("login.svg", alt:'login logo', class:'login-image') %>

  <div class="form-div" data-controller="modal">
    <div class="form-text">
      <h2 class='home-title no-margin'>S'inscrire</h2>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs ">
          <%= f.input :first_name,
                      required: true,
                      autofocus: true,
                      label: false,
                      placeholder:'*Prénom' %>
          <%= f.input :last_name,
                      required: true,
                      label: false,
                      placeholder:'*Nom' %>
          <%= f.input :email,
                      required: true,
                      label: false,
                      placeholder:'*Adresse email'%>
          <%= f.input :phone_number,
                      label: false,
                      placeholder:'Téléphone'%>
          <div class='show-password-devise' data-controller='show-password'>
            <%= f.input :password,
                        required: true,
                        label: false,
                        placeholder:'*Mot de Passe',
                        input_html: { data: { 'show-password-target':'field' } } %>
            <div class="show-password-btn position-absolute" data-action='click->show-password#show' data-show-password-target='eye'>
              <i class="fa-solid fa-eye"></i>
            </div>
          </div>

          <div class='show-password-devise' data-controller='show-password'>
            <%= f.input :password_confirmation,
                        required: true,
                        label: false,
                        placeholder:'*Confirmation du mot de passe',
                        input_html: { data: { 'show-password-target':'field' } } %>
            <div class="show-password-btn position-absolute" data-action='click->show-password#show' data-show-password-target='eye'>
              <i class="fa-solid fa-eye"></i>
            </div>
            <%= f.input :accepted_rgpd,
                        label: "J'ai lu et j'accepte les conditions RGPD",
                        label_html: {class: "d-block margin-top-three margin-bottom-three"}%>
                         <span class="link underline" data-action="click->modal#show">Lire les conditions RGPD</span>
          </div>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "S'inscrire", class:'btn-principal' %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>


    <div class="modal display-none" data-modal-target="modal">
      <div class="modal-content">
        <div class="scroll-y height-100">
          <h1>Politique RPPD</h1>
          <%= sanitize Rgpd.last.text %>
        </div>
        <div class="close" data-action="click->modal#show">+</div>
      </div>
    </div>

  </div>
</div>
