<% content_for :title, "Confirmer mon mot de passe - Eligia" %>
<% content_for :scroll_navbar, 'scroll-navbar' %>
<% content_for :home_navbar, 'home-navbar position-sticky' %>
<%= render 'shared/navbar' %>

<div class="fullscreen-no-footer gradient-bg mobile-contact-grid">
  <%= image_tag("login.svg", alt:'login logo', class:'login-image') %>
  <turbo-frame id='password'>
    <div class="form-div">
      <h2 class='home-title no-margin padding-top-fifty''>Confirmation du mot de passe actuel</h2>

      <%= simple_form_for(@current_user, url: control_password_check_user_path(@current_user), data: { turbo: :false }) do |f| %>
        <div class="form-inputs">
          <%= f.input :current_password,
                      label: false,
                      placeholder:'Mot de Passe',
                      required: true %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Changer le mot de passe", class:"btn-principal" %>
        </div>
      <% end %>
    </div>
  </turbo-frame>
</div>
