<% content_for :title, "Mon espace - Eligia" %>

<%= render 'shared/navbar' %>


<turbo-frame id="content">
  <div class="user-dashboard-grid">
      <div class="user-dashboard-navigation">
        <div class="user-dashboard-navigation-top">
          <p>Bonjour <strong><%= current_user.first_name %></strong><p>
        </div>
        <div class='tab other-tab'>
          <p>Informations personnelles</p>
        </div>
        <div class='tab current-tab'>
          <p>Mes démarches</p>
        </div>
         <div class="tab-details">
        <ul>
          <% @orders.each do |order| %>
            <li> <%= link_to "#{order.deceased_first_name} #{order.deceased_last_name}", order_path(order) %></li>
          <% end %>
        </ul>
      </div>
      </div>


      <div class="user-dashboard-content">
        <% @orders.each do |order| %>
          <%= link_to order_path(order) do %>
            <%= render "order_dashboard_card", order: order %>
          <% end %>
        <% end %>
      </div>
  </div>
</turbo-frame>
