<% content_for :title, "Mon espace - Eligia" %>

<turbo-frame id="content">
  <% content_for :scroll_navbar, 'scroll-navbar' %>
  <% content_for :home_navbar, 'home-navbar' %>
  <% content_for :notification_navbar, 'active' %>
  <%= render 'shared/navbar' %>

  <div class="fullscreen-no-navbar">
    <div class="banner user-banner">
      <div class="container dashboard-container">
        <h1><span class='unbold'><%= @current_user.first_name %></span> <%= @current_user.last_name %></h1>
        <ul class="dashboard-breadcrumb">
          <li class="dashboard-breadcrumb-item">
            Espace personnel
          </li>
        </ul>
      </div>
    </div>

    <div class="container">
      <div class="user-dashboard-grid padding-top-four">
        <div class="user-dashboard-left">

          <div>
            <h2 class="dashboard-title">Vos démarches</h2>
            <% unless current_user.orders.present? %>
              <p>Vous n'avez pas encore commencé de démarche</p>
              <%= link_to "Commencer une démarche", new_order_path, class:"btn btn-principal small", data:{turbo: false}  %>
            <% end %>
            <div class="user-dashboard-content">
              <% @orders.each do |order| %>
                <%= link_to order_path(order) do %>
                  <%= render "orders/order_dashboard_card", order: order %>
                <% end %>
              <% end %>
            </div>
          </div>

          <div class="personal-info">
            <h2 class="dashboard-title margin-bottom-zero margin-top-zero">Vos informations personnelles</h2>
            <div class="account-infos-description">
              <div class="margin-bottom-two"><i class="fa-solid fa-user margin-right-three light-green"></i> <%= "#{@current_user.first_name} #{@current_user.last_name}" %></div>
              <div class="margin-bottom-two"><i class="fa-solid fa-envelope margin-right-three light-green"></i> <%= @current_user.email %></div>
              <div class="margin-bottom-two"><i class="fa-solid fa-phone margin-right-three light-green"></i>
                <% if @current_user.phone_number.nil? %>
                  <em class="font-size-smaller">non renseigné</em>
                <% else %>
                  <%= @current_user.phone_number %>
                <% end %>

              </div>
              <%= link_to "Modifier vos informations", edit_user_registration_path(@current_user), class: 'btn-third small' %>
            </div>
          </div>
        </div>


        <% if current_user.notifications.present? %>
          <div class="notification-card desktop">
            <div class="notification-head">
              <h2 class="home-subtitle">Notifications</h2>
            </div>
            <div class="notification-body">
              <ul class="notification-list">
                <% @notifications.each do |notification| %>
                  <li class="notification-list-item" data-controller="modal">
                    <div class="notification-all">
                      <%= link_to notification.order_account ? order_order_account_path(notification.order, notification.order_account) : order_path(notification.order) do %>
                        <div class="notification-content"><%= notification.content %></div>
                      <% end %>
                      <% notification_time = (Date.today - notification.created_at.to_date).to_i %>
                      <div class="notification-date">
                        <% if Date.today == notification.created_at.to_date %>
                          Aujourd'hui
                        <% else %>
                          <%= "Il y a #{notification_time} jour#{notification_time > 1 ? 's' : ''}" %>
                        <% end %>
                      </div>
                    </div>
                    <div class="notification-close-btn" data-action="click->modal#modalAppear">
                      +
                    </div>
                    <div class="modal display-none" data-modal-target="modal">
                      <div class="modal-content notification-modal">
                        <div>Souhaitez-vous supprimer cette notification définitivement ?</div>
                        <div class="modal-choice">
                          <%= link_to 'Oui', notification_path(notification), data: { turbo_method: :delete } %>
                          <button data-action="click->modal#modalClose">Non</button>
                        </div>
                      </div>
                    </div>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        <% end %>


      </div>
    </div>
  </div>

</turbo-frame>
<%= render 'shared/footer' %>
