<div class="footer">
  <div class="footer-items">
    <ul class="legal-infos" data-footer-responsivity-target='footerItems'>
      <li class="site-list-item">
        2022 | ELIGIA© | tous droits réservés
      </li>
    </ul>
    <div class="logo" data-footer-responsivity-target='bigLogo'>
      <%= link_to root_path do %>
        <%= image_tag('eligia-sans-fond-vecto.svg', alt:'Logo Eligia') %>
      <% end %>
    </div>
    <div class="short-logo" data-footer-responsivity-target='shortLogo'>
      <%= link_to root_path do %>
        <%= image_tag('eligia-e-vecto.svg', alt:'Logo Eligia') %>
      <% end %>
    </div>
    <ul class="site-list" data-footer-responsivity-target='footerItems'>
      <li class="site-list-item underline">
        <%= link_to 'Nous contacter', new_message_path %>
      </li>
      <li class="site-list-item underline">
        <%= link_to "Le blog d'Eligia", blogposts_path %>
      </li>
      <li class="site-list-item underline">
        <%= link_to "Conditions générales d'utilisation", cgu_pages_path %>
      </li>
      <li class="site-list-item underline">
        <%= link_to "Conditions générales de service", cgs_pages_path %>
      </li>
      <li class="site-list-item underline">
        <a href="javascript:openAxeptioCookies()">
          Modifier vos préférences en matière de cookies
        </a>
      </li>
    </ul>
  </div>
</div>
