<div class="footer">
  <div class="footer-items">
    <ul class="legal-infos" data-footer-responsivity-target='footerItems'>
      <li class="site-list-item">
        ELIGIA SARL, 920 048 725 R.C.S. Bordeaux
      </li>
      <li class="site-list-item">
        6 Rue Flornoy 33000 Bordeaux
      </li>
      <li class="site-list-item">
        Numéro TVA intracommunautaire : FR32920048725
      </li>
    </ul>
    <div class="logo" data-footer-responsivity-target='bigLogo'>
      <%= link_to root_path do %>
        <%= image_tag('eligia-sans-fond-vecto.svg', alt:'Logo Eligia') %>
      <% end %>
    </div>
    <div class="short-logo" data-footer-responsivity-target='shortLogo'>
      <%= link_to root_path do %>
        <%= image_tag('eligia-e-vecto.svg', alt:'Logo Eligia') %>
      <% end %>
    </div>
    <ul class="site-list" data-footer-responsivity-target='footerItems'>
      <li class="site-list-item underline">
        <%= link_to 'Nous contacter', new_message_path %>
      </li>
      <li class="site-list-item underline">
        <%= link_to 'Tarifs', price_pages_path %>
      </li>
      <li class="site-list-item underline">
        <%= link_to "Conditions générales d'utilisation", cgu_pages_path %>
      </li>
      <li class="site-list-item underline">
        <%= link_to "Conditions générales de service", cgs_pages_path %>
      </li>
    </ul>
  </div>
</div>
