<div class="form-subcategory">
  <div class="account-grid">
    <% Account.validated_accounts_from_subcategory(subcategory).order(:name).each do |account| %>

      <div class='account-card'>
        <div class="account-card-title">
          <% if account.logo_url.nil?  %>
            <div class="account-avatar" style="background: #464646;">
              <span style='color: white;'><%= account.name.upcase.split.map { |word| word[0] }.join %></span>
            </div>
          <% else %>
            <div class="account-avatar" style="background-image:url('<%= account.logo_url %>')"></div>
          <% end %>
          <div class='account-card-name'><%= account.name %></div>
        </div>
        <div class="account-card-submit" id=<%= dom_id account %> data-controller="order-account-creation">
          <%= render 'order_accounts/account_card', order: order, account: account %>
        </div>
      </div>
    <% end %>
  </div>
</div>
