<div class="form-subcategory" data-controller="other-account"
                              data-other-account-order-value=<%= order_accounts %>
                              data-other-account-subcategory-value=<%= subcategory.id %>
                              data-other-account-account-number-value=<%= Account.where(status: 'validated').count %>
                              data-other-account-other-account-value=<%= @order.order_accounts.select { |o_a| o_a.account.subcategory == subcategory && o_a.account.status == 'non_validated' }.size %>>

  <div class="account-grid">
    <% Account.validated_accounts_from_subcategory(subcategory).order(:name).each do |account| %>

      <div class='account-card'>
        <div class="account-card-title">
          <% if account.logo_url.nil?  %>
            <div class="account-avatar" style="background: #464646;">
              <span style='color: white;'><%= account.name.upcase.split.map { |word| word[0] }.join %></span>
            </div>
          <% else %>
            <div class="account-avatar" style="background-image:url('<%= account.logo_url %>')"></div>
          <% end %>
          <div class='account-card-name'><%= account.name %></div>
        </div>
        <div class="account-card-submit" id=<%= dom_id account %> data-controller="order-account-creation">
          <%= render 'order_accounts/account_card', order: order, account: account %>
        </div>
      </div>
    <% end %>
  </div>
</div>
