<div class=order-dashboard-card>

  <div class="order-card-info">
    <p>Dossier de <%= order.deceased_first_name %> <%= order.deceased_last_name.upcase %></p>
  </div>
  <div class="order-card-content">
    <p class="order-state-<%=order.aasm_state%>"><%= order.state_to_french %></p>
    <p>Dernière mise à jour : <%= order.updated_at.strftime('%d/%m/%y') %></p>
    <p>Nombre de contrats à résilier : <%= order.order_accounts.count %></p>
    <div class="btn-second small" id="details"> Voir en détail</div>
  </div>

</div>
