<div class="order-account-card" data-controller='modal'>
  <div class="account-name">
    <%= order_account.account.name %>
  </div>
  <div>
    <span class="order-account-status underline margin-right-two">Statut :</span>
    <span class="order-account-status order-account-state-<%=order_account.aasm_state%>">
      <%= order_account.state_to_french %>
    </span>
  </div>
  <% if order_account.aasm_state == 'document_missing' %>
    <div class='align-center'>
      <div class='btn-third small' data-action='click->modal#modalAppear'>Ajouter</div>
    </div>
  <% end %>
  <div class="modal display-none" data-modal-target='modal'>
    <div class="modal-content">
      <h2><%= order_account.account.name %></h2>
      <div class="modal-content-documents">
      <turbo-frame id="modal-<%=order_account.id%>">
          <%= render 'update_order_document_modal', order_account: order_account %>
      <turbo-frame>
      </div>
      <span class="close" data-action="click->modal#modalClose">+</span>
    </div>
  </div>
</div>
