<div class='order-account-cards'>
  <% order.order_accounts.each do |order_account| %>
    <div class="order-account-card" data-controller='modal'>
      <div class="order-account-card-infos">
        <div class="account-title">
          <% if order_account.account.logo_url.nil?  %>
            <div class="account-avatar" style="background: #464646;">
              <span style='color: white;'><%= order_account.account.name.upcase.split.map { |word| word[0] }.join %></span>
            </div>
          <% else %>
            <div class="account-avatar" style="background-image:url('<%= order_account.account.logo_url %>')"></div>
          <% end %>
          <div class="account-name">
            <%= order_account.account.name %>
          </div>
        </div>
        <div class="account-status">
          <div>
          <% if order_account.account.non_validated? %>
            <span class="account-non-validated"> <em>En cours de validation par l'équipe Eligia</em></span>
          <% else %>
            <span class="order-account-status order-account-state-<%=order_account.aasm_state%>">
              <%= order_account.state_to_french %>
            </span>
          <% end %>
          </div>
        </div>
      </div>

      <div class="order-account-card-button">
        <% if order_account.document_missing? && order_account.account.validated?%>
          <div class='align-center'>
            <div class='btn-third small' data-action='click->modal#modalAppear'>Ajouter</div>
          </div>
        <% end %>
        <div class="modal display-none foreground" data-modal-target='modal' data-turbo-permanent>
          <div class="modal-content">
            <div class="account-title">
              <% if order_account.account.logo_url.nil?  %>
                <div class="account-avatar" style="background: #464646;">
                  <span style='color: white;'><%= order_account.account.name.upcase.split.map { |word| word[0] }.join %></span>
                </div>
              <% else %>
                <div class="account-avatar" style="background-image:url('<%= order_account.account.logo_url %>')"></div>
              <% end %>
              <h2 class="account-name">
                <%= order_account.account.name %>
              </h2>
            </div>
            <div class="scroll-y height-100 margin-bottom-five">
              <div class="modal-content-documents">
                <turbo-frame id="modal-<%=order_account.id%>">
                  <% content_for :modal, 'modal-height' %>
                  <%= render 'shared/order_document_input_card', order_documents_to_add: order_account.non_uploaded_order_documents,
                                                                order_account: order_account,
                                                                no_doc_message: 'Vous avez ajouté toutes les informations nécessaires',
                                                                modal_height: 'modal-height' %>
                </turbo-frame>
              </div>
            </div>
            <%= link_to "OK", order_path(order_account.order), class:'btn-principal small bold'  %>
            <%= link_to "+", order_path(order_account.order), class:'close'  %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
