<h3 class="no-margin padding-three"> Documents et informations à fournir </h3>

<div class="form-order-div">
  <% @order_documents = order_account.non_uploaded_order_documents %>

    <% if @order_documents.empty? %>
      <div class='align-center'>
        <p><strong>Tous les documents ont été fournis avec succès</strong></p>
      </div>
    <% end %>

    <% @order_documents.each do |order_document| %>
      <%= simple_form_for [order_account, order_document], html: { id: order_document } do |f| %>
        <div class="document-name highlight-green d-inline-block"><%= order_document.document.name %></div>
        <div class="insert-document modal-update" data-controller="loading-spinner">
          <% if order_document.document.format == 'pdf' %>
            <div data-check-document-target='infoDiv'></div>
            <div class="document-btn-and-name">
              <%= f.input :document_file,
                          label: false,
                          as: :file,
                          input_html:{
                            accept: '.png, .jpg, .jpeg, .pdf'
                          },
                          label_html:{
                            class:'label-document-input d-inline-block margin-bottom-two',
                            :'data-check-document-target' => 'documentForm'
                          }
                %>
              <div class="file-name" data-add-file-target="fileNameDiv"></div>
              <div class="lds-dual-ring display-none" data-loading-spinner-target='spinner'></div>
            </div>
          <% else %>
            <%= f.input :document_input, label: false, input_html: { class:'doc-input' } %>
          <% end %>
          <%= f.submit "Valider", class:'file optional btn-principal small margin-top-two', data: {"loading-spinner-target":"btn", action:"click->loading-spinner#load"} %>
        </div>
      <% end %>
    <% end %>
</div>
