<div class="container" data-controller='document-submit'>
  <h3>Documents à fournir</h3>

  <% @order.required_documents.each do |document| %>
    <div class="insert-document">
      <% unless @order.has_this_created?(document) %>
        <%= simple_form_for OrderDocument.new, remote: true, data:{'document-submit-target':'submitBtn'} do |f| %>
          <%= f.input :order_id, input_html: { value: @order.id }, as: :hidden %>
          <%= f.input :document_id, input_html: { value: document.id }, as: :hidden %>
          <%= f.input :document_file, as: :file, label: document.name %>
          <%= f.submit %>
        <% end %>
      <% else %>
        <span class="document-created-true">OK</span>
        <%= simple_form_for OrderDocument.new, remote: true, data:{'document-submit-target':'submitBtn'} do |f| %>
          <%= f.input :order_id, input_html: { value: @order.id }, as: :hidden %>
          <%= f.input :document_id, input_html: { value: document.id }, as: :hidden %>
          <%= f.input :document_file, as: :file, label: document.name %>
          <%= f.submit %>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <%= link_to "Suivant", "", class:'btn-principal', data:{'action':'click->document-submit#submitAll'}  %>
</div>
