<h4>Documents à fournir</h4>

<% @order.required_documents.each do |document| %>
  <%= simple_form_for OrderDocument.new do |f| %>
    <%= f.input :order_id, input_html: { value: @order.id }, as: :hidden %>
    <%= f.input :document_id, input_html: { value: document.id }, as: :hidden %>
    <%= f.input :document_file, as: :file, label: document.id %>
    <%= f.submit %>
  <% end %>
<% end %>

<%= link_to "Suivant", order_path(@order), class:'btn-principal' %>
