<% content_for :title, "Ajout documents - Eligia" %>
<% content_for :bodyclass, "hidden-y" %>


<div class="order-parts">

  <div class="form-order-steps">
    <div class="order-steps-btn">
      <%= link_to created_order_path(@order), class:"btn-third small btn-round" do %>
        ←  Précédent
      <% end %>
    </div>
    <div class="steps">
      <%= link_to created_order_path do %>
        <div class='step previous-step'>
          <p>Étape 1 :</p>
          <p>Résiliations</p>
        </div>
      <% end %>
      <div class='step current-step'>
        <p>Étape 2 :</p>
        <p>Informations nécessaires</p>
      </div>
      <div class='step'>
        <p>Étape 3 :</p>
        <p>Validation</p>
      </div>
    </div>
    <div class="logo">
      <%= image_tag('eligia-sans-fond-vecto.svg', alt:'Logo Eligia') %>
    </div>
  </div>

  <div class="form-order-div" data-controller='check-document' data-check-document-document-value=<%= @order_documents_json %>>
    <div class="form-order-infos">
      <div class="mobile-steps">
        <div class="order-steps-btn">
          <%= link_to created_order_path(@order), class:"btn-third small btn-round" do %>
            <i class="fa-solid fa-arrow-left"></i> Précédent
          <% end %>
        </div>
        <div class="logo">
          <%= image_tag('eligia-sans-fond-vecto.svg', alt:'Logo Eligia') %>
        </div>
      </div>
      <div class="mobile-step-title">Étape 2 :</div>
      <h1>Documents à fournir</h1>
      <p>
        Ce sont les <strong>informations minimum nécessaires</strong> à la résiliation de tous vos contrats. <br><br>
        <strong>Si vous ne disposez pas de toutes les informations </strong> laissez les champs en question vides pour l'instant. Vous pourrez les compléter depuis votre espace personnel.
      </p>
    </div>
    <div class="form-order-content">
      <%= simple_form_for @order, url: :update_documents_order, data: { turbo: false } do |f| %>
        <%= f.error_notification %>
        <h2>Informations du défunt :</h2>
        <div class="form-order-headname">
          <div class="form-order-text">
            <div class="form-order-text-label">
              Prénom du défunt
              <span class="sm-italic"> (requis)</span>
            </div>
            <div class="form-order-text-input">
              <%= f.input :deceased_first_name,
                                label: false,
                                input_html: { class: 'form-name-input' },
                                autofocus: true %>
            </div>
          </div>
          <div class="form-order-text">
            <div class="form-order-text-label">
              Nom du défunt
              <span class="sm-italic"> (requis)</span>
            </div>
            <div class="form-order-text-input">
              <%= f.input :deceased_last_name,
                          label: false,
                          input_html: { class: 'form-name-input' } %>
            </div>
          </div>
        </div>
        <% @order_text_documents.each do |order_document| %>
          <%= f.simple_fields_for :order_documents, order_document do |fod| %>
            <div class="form-order-text">
              <div class="form-order-text-label"><%= order_document.document.name %></div>
              <div class="form-order-text-input">
                <%= fod.input :document_input,
                              label: false,
                              input_html: {
                                class: 'form-name-input',
                                data: {
                                  controller: 'update-checks',
                                  update_checks_document_value: order_document.id,
                                  update_checks_format_value: order_document.document.file_type,
                                  action: 'keyup->update-checks#updateText'
                                }
                              },
                              label_html: {
                                data: {
                                  check_document_target:'documentForm'
                                }
                              } %>
              </div>
            </div>
          <% end %>
        <% end %>
        <% @order_file_documents.each do |order_document| %>
          <%= f.simple_fields_for :order_documents, order_document do |fod| %>
            <div class="form-order-file">
              <div class="form-order-text-label"><%= order_document.document.name %></div>
              <div class="form-order-document" data-controller="add-file">
                <div data-check-document-target='infoDiv'></div>
                <div class="document-btn-and-name">
                  <%= fod.label ' ' %>
                  <%= fod.input :document_file,
                                label: "Ajouter",
                                as: :file,
                                input_html: {
                                  accept: '.png, .jpg, .jpeg, .pdf',
                                  class:'hidden-document-input',
                                  data: {
                                    action:'change->add-file#added change->update-checks#updateFile',
                                    add_file_target:'input',
                                    controller: 'update-checks',
                                    update_checks_document_value: order_document.id,
                                    update_checks_format_value: order_document.document.file_type,
                                  },
                                },
                                label_html: {
                                  class:'label-document-input',
                                  data: {
                                    add_file_target:'label',
                                    check_document_target:'documentForm'
                                  }
                                } %>
                  <div class="file-name" data-add-file-target="fileNameDiv"></div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
        <div class="order-btn right">
          <div class="fit-content"data-controller="loading-spinner" data-action="click->loading-spinner#load">
            <%= button_tag(type: 'submit', class: "learn-more", data: {"loading-spinner-target":"btn"}) do %>
              <span class="circle" aria-hidden="true">
                <span class="icon arrow"></span>
              </span>
              <span class="button-text">
                  Valider
              </span>
            <% end %>
            <div class="lds-dual-ring display-none" data-loading-spinner-target='spinner'></div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class='form-order-right'>
    <div class="form-order-right-list documents">
      <div class="logo">
        <%= image_tag('eligia-sans-fond-vecto.svg', alt:'Logo Eligia') %>
      </div>
      <div class="form-order-right-title">
        <h3>
          Pour démarrer les résiliations :
        </h3>
      </div>
      <div class="box account-box">
        <% @order.order_accounts.each do |order_account| %>
          <% if order_account.account.validated? %>
            <div class="account-doc-list">
              <div class="account-title">
                <% if order_account.account.logo_url.nil?  %>
                  <div class="account-avatar" style="background: #464646;">
                    <span style='color: white;'><%= order_account.account.name.upcase.split.map { |word| word[0] }.join %></span>
                  </div>
                <% else %>
                  <div class="account-avatar" style="background-image:url('<%= order_account.account.logo_url %>')"></div>
                <% end %>
                <div>
                  <div class='account-name'><%= order_account.account.name %></div>
                  <div class='sm-italic'>a besoin de :</div>
                </div>
              </div>
              <ul class='account-documents'>
                <% order_account.order_documents.each do |order_document| %>
                  <li class='account-doc-item <%= 'added' unless (order_document.document.format == 'file' && !order_document.document_file.attached?) || (order_document.document.format == 'text' && order_document.document_input.blank?) %> order_doc_<%= order_document.id %>'>
                    <%= order_document.document.name %>
                  </li>
                <% end %>
              </ul>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <%= link_to documents_helps_path, target: "_blank", class: 'btn-third small help-btn' do %>
    <div>
      <span>Aide</span>
      <%= image_tag 'help.svg', alt: "icon aide" %>
    </div>
  <% end %>
</div>
