<% content_for :title, "Ajout documents - Eligia" %>


<div class=" order-parts">

  <div class="form-order-steps">
    <div class="steps">
      <%= link_to change_order_path do %>
        <div class='step previous-step'>
          <p>Étape 1 :</p>
          <p>Résiliations</p>
        </div>
      <% end %>
      <div class='step current-step'>
        <p>Étape 2 :</p>
        <p>Informations nécessaires</p>
      </div>
      <div class='step'>
        <p>Étape 3 :</p>
        <p>Validation</p>
      </div>
      <div class="logo">
        <%= image_tag('eligia-sans-fond-vecto.svg', alt:'Logo Eligia') %>
      </div>
    </div>
  </div>

  <div class="form-order-div" data-controller='check-document' data-check-document-document-value=<%= @order_documents_json %>>
    <div class="form-order-infos">
      <%= link_to change_order_path(@order), class:"btn-third small btn-round margin-bottom-four" do %>
        <i class="fa-solid fa-arrow-left"></i> Précédent
      <% end %>
      <div class="logo">
        <%= image_tag('eligia-sans-fond-vecto.svg', alt:'Logo Eligia') %>
      </div>
      <h1>2. Documents à fournir</h1>
    </div>
    <div class="form-order-content">
      <%= simple_form_for @order, url: :update_documents_order, data: { turbo: false } do |f| %>
        <% @order.order_documents.each do |order_document| %>
          <div class="insert-document" data-controller="add-file">
            <%= f.simple_fields_for :order_documents, order_document do |fod| %>
              <div class="document-name highlight-green"><%= order_document.document.name %></div>
              <% if order_document.document.format == 'pdf' %>
                <div data-check-document-target='infoDiv'></div>
                <div class="document-btn-and-name">
                  <%= fod.input :document_file, label: "Ajouter", as: :file, input_html:{accept: '.png, .jpg, .jpeg, .pdf', class:'hidden-document-input', :'data-action' => "change->add-file#added", :'data-add-file-target' => 'input'}, label_html:{class:'label-document-input', :'data-add-file-target' => 'label', :'data-check-document-target' => 'documentForm'} %>
                  <div class="file-name" data-add-file-target="fileNameDiv"></div>
                </div>
              <% else %>
                <%= fod.input :document_input, label:"#{order_document.document.name} :", input_html: { class:'doc-input' } %>
              <% end %>
            <% end %>
          </div>
        <% end %>
        <div class="order-btn" data-controller="loading-spinner" data-action="click->loading-spinner#load" >
          <%= button_tag(type: 'submit', class: "learn-more", data: {"loading-spinner-target":"btn"}) do %>
            <span class="circle" aria-hidden="true">
              <span class="icon arrow"></span>
            </span>
            <span class="button-text">
                Valider
            </span>
          <% end %>
          <div class="lds-dual-ring display-none" data-loading-spinner-target='spinner'></div>
        </div>
      <% end %>
    </div>
  </div>

  <div class='form-order-right'>
    <div class="logo">
      <%= image_tag('eligia-sans-fond-vecto.svg', alt:'Logo Eligia') %>
    </div>
    <p>
      Ce sont les <strong>informations minimum nécessaires</strong> à la résiliation de tous vos contrats. <br><br>
      <strong>Si vous ne disposez pas de toutes les informations </strong> laissez les champs en question vides pour l'instant. Vous pourrez les compléter depuis votre espace personnel.
    </p>
    <div class="flower-pot" style="background-image: url(<%= image_path 'pot-fleur.svg' %>)">
    </div>
  </div>
</div>
