<div class="container">
  <div class="fullscreen">
    <%= render 'order_creation_steps', step: 1 %>

    <%= simple_form_for @order do |f| %>

      <% @order_documents.each do |order_document| %>
        <div class="insert-document">
          <%= f.simple_fields_for :order_documents, order_document do |f| %>
            <%= f.input :document_file, as: :file, label: order_document.document.name %>
          <% end %>
        </div>
      <% end %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
