<h2>Nouvelle order</h2>

<%= simple_form_for @order do |f_order| %>
  <%= f_order.input :deceased_first_name, label: 'Prénom du défunt' %>
  <%= f_order.input :deceased_last_name, label: 'Nom du défunt' %>
  <% @categories.each do |category| %>
    <div class="category">
      <h3><%= category.name %></h3>
      <% category.subcategories.each do |subcategory| %>
        <h4><%= subcategory.name %></h4>
        <%= render 'chose_account_form', category: category, f_order: f_order %>
      <% end %>
    </div>
  <% end %>
  <%= f_order.submit class:'btn-principal' %>
<% end %>
