<% content_for :title, "Nouvelle démarche - Eligia" %>


<div class="container">

  <%= render 'order_creation_steps', step: 0 %>

  <!-- ==== FORM TO CREATE A NEW ORDER ==== -->
  <div class="form-order-div">
    <div class="form-order-infos">
      <h2>Première étape</h2>
      <p>
        Renseigner les abonnements à résilier.<br>
        Pour des raisons de simplicité, les documents et informations à fournir seront demandées à l'étape 2.
      </p>
    </div>

    <%= simple_form_for @order, data: { turbo: :false } do |f_order| %>
      <%= f_order.error_notification %>

      <div class="form-name-div">
        <%= f_order.input :deceased_first_name,
                          label: 'Prénom du défunt',
                          input_html: { class: 'form-name-input' },
                          autofocus: true %>
        <%= f_order.input :deceased_last_name, label: 'Nom du défunt', input_html: { class: 'form-name-input' } %>
      </div>

      <!-- ==== Sections for type of accounts(categories) ==== -->
      <% @categories.each do |category| %>
        <div class="order-divs">
          <h3 class="highlight-green"><%= category.name %></h3>

          <!-- ==== Sections for subtype of accounts (subcategories) inside categories ==== -->
          <% category.subcategories.each do |subcategory| %>
            <h4><%= subcategory.name %></h4>

            <!-- Inside, one nested form (put in partial)-->
            <!-- => for new order_accounts, ie. accounts to cancel) -->
            <%= render 'chose_account_form', category: category, f_order: f_order, subcategory: subcategory %>
          <% end %>
        </div>
      <% end %>
      <div class="order-btn">
        <%= button_tag(type: 'submit', class: "learn-more") do %>
          <span class="circle" aria-hidden="true">
            <span class="icon arrow"></span>
          </span>
          <span class="button-text">Valider</span>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
