<h1>Nouvelle order</h1>

<%= simple_form_for @order do |f_order| %>
  <%= f_order.input :deceased_first_name, label: 'Prénom du défunt' %>
  <%= f_order.input :deceased_last_name, label: 'Nom du défunt' %>


  <% @categories.each do |category| %>
  <div class="category">
    <h4> <%= category.name %> </h4>
      <% category.subcategories.each do |subcategory| %>
        <h6> <%= subcategory.name %> </h6>
        <div class="form-subcategory">
          <%= f_order.simple_fields_for :order_accounts, OrderAccount.new do |f_order_accounts| %>
            <%= f_order_accounts.collection_radio_buttons(:account_id, Account.all, :id, :name, {item_wrapper_class:'account-radio-button'}) do |b_account| %>
              <%= b_account.label {b_account.radio_button + content_tag(:span, b_account.text, class:'account-radio-button-text')} %>
            <% end %>
            <%= f_order_accounts.label "autre", class:'account-other-button', data: { controller: :'other-account', action: :'click->other-account#clicked'} %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>

<%= f_order.submit class:'btn-principal' %>
<% end %>
