<h1>Payer la commande n°<%= @order.id %></h1>

<div>Forfait choisi: <%= @order.pack.title %></div>
<div>Prix du forfait: <%= humanized_money(@order.pack.price) %>€</div>
<div>Prix de la commande: <%= humanized_money(@order.amount) %>€</div>

<button id="pay" class="btn btn-primary">Pay</button>

<script src="https://js.stripe.com/v3/"></script>
<script>
  const paymentButton = document.getElementById('pay');
  paymentButton.addEventListener('click', () => {
    const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
    stripe.redirectToCheckout({
      sessionId: '<%= @order.checkout_session_id %>'
    });
  });
</script>
