<% content_for :title, "Mes démarches - Eligia" %>
<%= render 'shared/navbar' %>

<turbo-frame id="content">
  <div class="user-dashboard-grid">
    <div class="user-dashboard-navigation">
      <div class="user-dashboard-navigation-top">
          <p>Bonjour <strong><%= current_user.first_name %></strong><p>
      </div>
      <div class='tab other-tab'>
        <p>Informations personnelles</p>
      </div>
      <%= link_to user_path(current_user) do %>
        <div class='tab current-tab'>
          <p>Mes démarches</p>
        </div>
      <% end %>
      <div class="tab-details">
        <ul>
          <% @orders.each do |order| %>
            <li><%= order.deceased_first_name %> <%= order.deceased_last_name %></li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="user-dashboard-content">
      <h2>Dossier de <%= @order.deceased_first_name %> <%= @order.deceased_last_name %></h2>
      Avancée du dossier : <span class='underline'><%= @order.state_to_french %></span>
      <br><br>
      <div class='order-account-cards'>
        <% @order.order_accounts.each do |order_account| %>
          <%= render "order_account_card", order_account: order_account %>
        <% end %>
      </div>
    </div>
  </div>
<turbo-frame>
