<% content_for :title, "Mes démarches - Eligia" %>

<turbo-frame id="content">
  <% content_for :scroll_navbar, 'scroll-navbar' %>
  <% content_for :home_navbar, 'home-navbar' %>
  <%= render 'shared/navbar' %>

  <div class="fullscreen-no-navbar">

    <div class="banner user-banner">
      <div class="container dashboard-container">
        <h1><span class='unbold'><%= @current_user.first_name %></span> <%= @current_user.last_name %></h1>
        <ul class="dashboard-breadcrumb">
          <li class="dashboard-breadcrumb-item active">
            <%= link_to "Espace personnel", user_path(current_user) %>
          </li>
          <li class="dashboard-breadcrumb-separator"></li>
          <li class="dashboard-breadcrumb-item">Dossier de <%= @order.deceased_first_name %> <%= @order.deceased_last_name %></li>
        </ul>
      </div>
    </div>

    <div class="container">
      <div class="order-steps">
        <% @order.aasm.states.each do |state| %>
          <div class="order-step three-steps <%= @order.passed_state?(state.to_s) ? 'active' : '' %>">
            <div class="order-step-title"><%= @order.state_to_french(state.to_s) %></div>
          </div>
        <% end %>
      </div>
      <div class="user-dashboard-content">
        <div class="order-dashboard-section">
          <% unless @order.non_uploaded_order_documents.empty? %>
            <div id="docs-<%=@order.id%>">
              <%= render 'shared/order_document_input_card', order_documents_to_add: @order.non_uploaded_order_documents,
                                                             order_account: false,
                                                             no_doc_message: '',
                                                             modal_height: '' %>
            </div>
          <% end %>
        </div>

        <div class="order-dashboard-section">
          <h3 class="dashboard-title margin-top-four width-fit-content">État des contrats à résilier :</h3>
            <div id="oa-cards-<%= @order.id %>">
              <%= render "orders/order_account_cards", order: @order %>
            </div>
        </div>


        <% if @order.invoice_file.attached? %>
          <div class="order-dashboard-section">
            <h3 class="dashboard-title margin-top-four width-fit-content">État des contrats à résilier :</h3>
              <div class="box">
                <p>Super facture</p>
                <a class="btn-third small" href=<%=@order.invoice_file.url%>> Voir la facture</a>
              </div>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</turbo-frame>
