<% content_for :title, "Mes démarches - Eligia" %>
<%= render 'shared/navbar' %>

<turbo-frame id="content">

  <div class="banner user-banner">
    <div class="container">
      <h1><span class='unbold'><%= @current_user.first_name %></span> <%= @current_user.last_name %></h1>
      <p><em>Bienvenue sur votre espace personnel</em></p>
    </div>
  </div>

  <div class="container">
    <%= link_to '← retour', user_path(@current_user), class: 'btn-third small margin-top-five on-top' %>
    <div class="user-dashboard-content">
      <h2 class="dashboard-title">Dossier de <%= @order.deceased_first_name %> <%= @order.deceased_last_name %></h2>
      <span class='underline'>Avancée du dossier :</span> <%= @order.state_to_french %>
      <div class='order-account-cards'>
        <% @order.order_accounts.each do |order_account| %>
          <%= render "order_account_card", order_account: order_account %>
        <% end %>
      </div>
    </div>
  </div>


</turbo-frame>

<turbo-frame id="content">

<turbo-frame>
