<div class="banner" data-controller="transparent-navbar">
  <div class="container">
    <h1>Résiliez en 10 minutes tous les<br> abonnements d'un proche disparu</h1>
    <p>Plus de simplicité pour faciliter le deuil</p>
    <%= link_to "Commencer", new_order_path, class:"btn-principal" %>
  </div>
</div>
<div class="second-banner">
  <h2 class="highlight-green">Pourquoi Eligia ?</h2>
  <ul class="second-banner-list-items">
    <li class="second-banner-list-item">
      <%= image_tag 'icon_banner1.png'%>
      <div class="second-banner-text">Démarche effectuée en <span class="highlight-yellow">quelques minutes</span> : il suffit de renseigner les comptes à résilier et de joindre les documents nécessaires</div>
    </li>
    <li class="second-banner-list-item">
      <%= image_tag 'icon_banner2.png'%>
      <div class="second-banner-text">Un forfait <span class="highlight-yellow">attractif</span> : en fonction du nombre de comptes à résilier, nous vous proposons plusieurs tarifs attractifs</div>
    </li>
    <li class="second-banner-list-item">
      <%= image_tag 'icon_banner3.png'%>
      <div class="second-banner-text">Suivi <span class="highlight-yellow">facile</span> : un tableau de bord personnalisé vous permet de suivre facilement l'avancée des démarches depuis chez vous</div>
    </li>
  </ul>
</div>
<div class="container">
  <div class="home-infos" data-controller="home-infos-appear">
    <h2><span class="highlight-green">Point information</span> : que faire quand un proche nous a quitté ?</h2>
    <p>
      Le décès d'un proche est un des moments les plus douloureux dans la vie d'une personne
      et nous sommes que très rarement préparé à ce genre d'évènements. Malgré la peine et l'émotion,
      il faut néanmoins s'occuper de démarches administratives souvent coûteuses et chronophages.
      Mais quelles sont ces démarches et quand doivent-elles être entreprises.
    </p>
    <div class="timeline-legend-container">
      <div class="timeline-legend active" data-home-infos-appear-target="timelineItems">
        1ère semaine
      </div>
      <div class="timeline-legend next" data-home-infos-appear-target="timelineItems">
        1er mois
      </div>
      <div class="timeline-legend next-transparent" data-home-infos-appear-target="timelineItems">
        6 mois
      </div>
    </div>
    <div class="timeline-container">
      <i class="fa-solid fa-circle-chevron-left fa-xl disabled"
         data-action="click->home-infos-appear#transitionLeft"
         data-home-infos-appear-target="arrowLeft"></i>
      <div class=timeline>
        <div class="timeline-checkpoint active"
            data-action="click->home-infos-appear#transition"
            data-home-infos-appear-target="checkpoints">
        </div>
        <div class="timeline-checkpoint next"
            data-action="click->home-infos-appear#transition"
            data-home-infos-appear-target="checkpoints">
        </div>
        <div class="timeline-checkpoint"
            data-action="click->home-infos-appear#transition"
            data-home-infos-appear-target="checkpoints">
        </div>
      </div>
      <i class="fa-solid fa-circle-chevron-right fa-xl"
         data-action="click->home-infos-appear#transitionRight"
         data-home-infos-appear-target="arrowRight"></i>
    </div>
    <ul class="home-infos-list">
      <li class="home-infos-list-item active" data-home-infos-appear-target="infoItems">
        <div>
          Lors de la <span class="highlight-green">première semaine</span> suivant le décès, les premières démarches sont à réaliser en priorité.
          Cela comporte le constat du décès, sa déclaration en mairie afin de pouvoir récupérer l'acte de décès,
          puis l'organisation des obsèques.
        </div>
        <%= image_tag 'funeral.png', class: 'icon-infos' %>
        <div>
          Ces démarches sont réalisées par les pompes funèbres qui proposent plusieurs sortes d'accompagnement
          personnalisés. Pour vous aider dans vos démarches, voici une page détaillée du gouvernement sur les sociétés de pompes
          funèbres, quand et comment les contacter :
          <%= link_to 'site internet', "https://www.economie.gouv.fr/dgccrf/Publications/Vie-pratique/Fiches-pratiques/Prestations-funeraires",
              target: :_blank,
              class: 'bold-link' %>
          .
        </div>
      </li>
      <li class="home-infos-list-item next" data-home-infos-appear-target="infoItems">
        <div>
          Dans le <span class="highlight-yellow">premier mois</span>, vous devez vous occuper des démarches purement administratives. Premièrement, vous
          devrez vous occuper de la cloturation du compte en banque du défunt avec un document notarial prouvant que vous
          êtes l'héritier (ne peut être fait que par vous ou votre notaire). Pensez néanmoins à bien noter l'IBAN
          de votre proche décédé pour les résiliations qui suivront.
        </div>
        <%= image_tag 'administration.png', class: 'icon-infos' %>
        <div>
          Les autres comptes à régler ensuite en priorité proviennent
          des organismes sociaux où le défunt était enregistré, les différentes contrats d'assurance, la bailleur si il/elle
          était locataire, le service des impôts, le certificat d'immatriculation etc ...
          Pour ces nombreuses démarches, nous pouvons vous aider et le faire à votre place.
        </div>
      </li>
      <li class="home-infos-list-item next-transparent" data-home-infos-appear-target="infoItems">
        <div>
          Enfin, vous devrez vous occuper des abonnements restants du défunt. Ces comptes à résilier ne font
          pas partie des démarches prioritaires (à faire <span class="highlight-blue">dans les 6 mois</span>), pourtant si elles ne sont pas faites
          dans le premier mois, les contrats perdurent et seront toujours facturés. De ce fait, nous vous conseillons
          de vous en occuper rapidement.
        </div>
        <%= image_tag 'subscription.png', class: 'icon-infos' %>
        <div>
          Mais ne vous en faites pas, la encore nous pouvons vous décharger de ce poids
          et le faire à votre place, efficacement et rapidement.
          Le plus souvent il s'agit d'abonnements à un fournisseurs d'énergie (EDF, Engie ...), à un télécom (Orange, SFR, Bouygues ...),
          à une chaîne de télévision payante (Canal+, Netflix ...) ou encore à des journaux et/ou magazines.
        </div>
      </li>
    </ul>
  </div>
</div>
