<% content_for :scroll_navbar, 'scroll-navbar' %>
<% content_for :home_navbar, 'home-navbar' %>
<% content_for :order_new_btn do %>
  <li class="nav-item">
    <%= link_to "Commencer une démarche", new_order_path, class:"btn-principal small", data:{'scroll-navbar-target':'button'} %>
  </li>
<% end %>
<% content_for :accueil_btn, 'display-none' %>
<%= render 'shared/navbar' %>

<div class="banner">
  <div class="container">
      <h1>Résiliez en 10 minutes tous les <br> abonnements d'un proche disparu</h1>
      <p id='tagline'>Simplifions ensemble les démarches du deuil</p>
      <%= link_to "Commencer", new_order_path, class:"btn-call-to-a" %>
  </div>
    <%= image_tag('illustration-banner-home.svg', class:'banner-image', alt:'icone résiliation') %>
</div>


<section id="service">
  <div class="container">
    <h2 class="home-title">Notre service</h2>

    <p>
      <em>Eligia</em> est un outil digital permettant de résilier les abonnements d'un proche suite à son décès.<br><br>
      <strong>Nous nous occupons de tout. Vous pouvez suivre l'avancée des démarches en temps réel.</strong>
    </p>

    <ul class="service-cards">
      <li class="service-card">
        <%= image_tag('icon-fast.svg', alt:'icone rapidité', class: 'service-card-img')%>
        <div class="service-card-text">Demande en ligne effectuée en <span class="highlight-yellow">quelques minutes</span> : <br> il suffit de renseigner les comptes à résilier et de joindre les documents nécessaires !</div>
      </li>
      <li class="service-card">
        <%= image_tag('icon-list.svg', alt:'icone vaste choix', class: 'service-card-img')%>
        <div class="service-card-text"><span class="highlight-yellow">Tous types d'abonnements pris en compte</span> : internet, téléphonie fixe et mobile, journaux, magazines, énergie etc.</div>
      </li>
      <li class="service-card">
        <%= image_tag('icon-price.svg', alt:'icone prix attractif', class: 'service-card-img')%>
        <div class="service-card-text"><span class="highlight-yellow">Un prix attractif</span> : nos tarifs s'adaptent à vos besoins</div>
      </li>
      <li class="service-card">
        <%= image_tag('icon-dashboard.svg', alt:'icone suivi avec tableau de bord', class: 'service-card-img')%>
        <div class="service-card-text"><span class="highlight-yellow">Un suivi en direct</span> : grâce à un tableau de bord personnalisé qui vous permet de suivre facilement l'avancée des démarches depuis chez vous</div>
      </li>
    </ul>
  </div>
</section>

<section id="function" style="background-image: linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.4)), url(<%= image_path 'green-gradient-bg.svg' %>)">
  <div class="container">
    <h2 class="home-title">Comment ça fonctionne ?</h2>
    <p class="padding-top-three padding-bottom-three">
      <strong>Pour démarrer une démarche sur eligia, il vous suffit de sélectionner les comptes à résilier
      puis de fournir les documents demandés.</strong>
    </p>
    <p>
      A partir de ce moment-là, <span class='underline'>nous prenons le relais.</span>
    </p>


    <div class="func-grid" data-controller="home-function">
      <div class="func-nav">
        <ul class="func-nav-items">
          <li>
            <p class="title">Une procédure en 4 étapes<p>
          </li>
          <li class="func-nav-item current-item"
              id="contrats"
              data-action="click->home-function#infoAppear"
              data-home-function-target='navItem'>
            Étape 1 :<br> les contrats
          </li>
          <li class="func-nav-item"
              id="documents"
              data-action="click->home-function#infoAppear"
              data-home-function-target='navItem'>
            Étape 2 :<br> les documents
          </li>
          <li class="func-nav-item"
              id="recapitulatif"
              data-action="click->home-function#infoAppear"
              data-home-function-target='navItem'>
            Étape 3 :<br> le récapitulatif
          </li>
          <li class="func-nav-item"
              id="paiement"
              data-action="click->home-function#infoAppear"
              data-home-function-target='navItem'>
            Étape 4 :<br> le paiement
          </li>
        </ul>
        <ul class="mobile-func-nav-items">
          <li>
            <p class="title">Une procédure en 4 étapes<p>
          </li>
          <li class="func-nav-item current-item"
              id="contrats"
              data-action="click->home-function#infoAppear"
              data-home-function-target='navItem'>
            Contrats
          </li>
          <li class="func-nav-item"
              id="documents"
              data-action="click->home-function#infoAppear"
              data-home-function-target='navItem'>
            Documents
          </li>
          <li class="func-nav-item"
              id="recapitulatif"
              data-action="click->home-function#infoAppear"
              data-home-function-target='navItem'>
            Récapitulatif
          </li>
          <li class="func-nav-item"
              id="paiement"
              data-action="click->home-function#infoAppear"
              data-home-function-target='navItem'>
            Paiement
          </li>
        </ul>
      </div>
      <div class="func-infos">
        <div class="func-infos-text" id="contrats" data-home-function-target='infoDiv'>
          <h3>1. Choisir les contrats</h3>
          <p>
            La première étape consiste à sélectionner les contrats du défunt que vous souhaitez résilier. <br><br>

            Grâce à cette liste, nous pourrons ensuite vous demander les informations et documents
            nécessaires à la résiliation des divers contrats.
          </p>
          <div class="d-flex align-items-flex-end">
            <%= image_tag('icon-subscription.svg', class:'icon-infos', alt:'icone sélection contrats') %>
            <%= link_to 'en savoir plus', contrats_helps_path, target: "_blank", class: 'btn-third small' %>
          </div>

        </div>
        <div class="func-infos-text disapear" id="documents" data-home-function-target='infoDiv'>
          <h3>2. Saisir les informations nécessaires</h3>
          <p>
            Après avoir établi la liste des comptes à résilier, vous pourrez nous fournir les
            documents nécessaires pour démarrer les démarches de résiliation.<br><br>

            En accord avec les lois européennes de protection des données RGPD, ces informations seront
            automatiquement supprimées de eligia.fr à la clôture de votre dossier.
          </p>
          <div class="d-flex align-items-flex-end">
            <%= image_tag('icon-upload.svg', class:'icon-infos', alt:'icone saisie des informations') %>
            <%= link_to 'en savoir plus', documents_helps_path, target: "_blank", class: 'btn-third small' %>
          </div>        </div>
        <div class="func-infos-text disapear" id="recapitulatif" data-home-function-target='infoDiv'>
        <h3>3. Récapitulatif</h3>
          <p>
            Le récapitulatif permet de valider la commande. Vérifiez que vous avez saisi tous les contrats à résilier, après cette étape il ne sera plus possible d'en rajouter !<br><br>

            Les informations et documents manquants peuvent être ajoutés après paiement depuis votre espace personnel.
          </p>
          <div class="d-flex align-items-flex-end">
            <%= image_tag('icon-recap.svg', class:'icon-infos', alt:'icone récapitulatif') %>
            <%= link_to 'en savoir plus', recapitulatif_helps_path, target: "_blank", class: 'btn-third small' %>
          </div>
        </div>
        <div class="func-infos-text disapear" id="paiement" data-home-function-target='infoDiv'>
        <h3>4. Paiement</h3>
          <p>
            Le paiement s'effectue par carte à travers une interface 100% sécurisée, directement depuis le site. <br><br>
            Eligia propose une tarification qui s'adapte au nombre de comptes à résilier.
          </p>
          <div class="d-flex align-items-flex-end">
            <%= image_tag('icon-paiement.svg', class:'icon-infos', alt:'icone paiement') %>
            <%= link_to 'en savoir plus', price_pages_path, target: "_blank", class: 'btn-third small' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="review-section" class="wide-container">
  <section class="splide" aria-label="Splide Basic HTML Example" data-controller="splide">
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
          <div class="review-card">
            <div class="review-top">
              <%= image_tag "Philippe-C.jpeg", alt: "text", class:'avatar' %>
              <h3>Très bien</h3>
            </div>
            <p><em>Philippe C.</em></p>
            <i class="fa-solid fa-quote-left blue"></i>
            <p>J'étais initialement assez dubitatif, mais il s'avère que le service proposé est super. Les abonnements de mon père ont tous été clôturés assez rapidement. Le plus dur était finalement de rassembler tous les documents nécessaires.</p>
            <div class="w-100"><i class="fa-solid fa-quote-right w-100 align-end blue"></i></div>
          </div>
        </li>
        <li class="splide__slide">
          <div class="review-card">
            <div class="review-top">
              <%= image_tag "Caroline-M.jpeg", alt: "text", class:'avatar' %>
              <h3>Pour éviter les impayés!</h3>
            </div>
            <p><em>Caroline M.</em></p>
            <i class="fa-solid fa-quote-left blue"></i>
            <p>L'opérateur mobile de mon père nous a relancé car il était en rupture de paiement. Eligia nous a permis de le notifier et de faire de même pour tous les autres abonnements. L'utilisation est facile et pas besoin d'envoyer soi même les recommandés. </p>
            <div class="w-100"><i class="fa-solid fa-quote-right w-100 align-end blue"></i></div>
          </div>
        </li>
        <li class="splide__slide">
          <div class="review-card">
            <div class="review-top">
              <%= image_tag "Jean-H.jpeg", alt: "text", class:'avatar' %>
              <h3>Super outil !</h3>
            </div>
            <p><em>Jean H.</em></p>
            <i class="fa-solid fa-quote-left blue"></i>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, explicabo laudantium recusandae reprehenderit doloremque id aliquid, error adipisci, quae eius est illum aut dolorem exercitationem? Recusandae quod corrupti iusto ad?
            At cupiditate beatae obcaecati omnis ut itaque quia voluptatem quisquam accusant.</p>
            <div class="w-100"><i class="fa-solid fa-quote-right w-100 align-end blue"></i></div>
          </div>
        </li>
      </ul>
    </div>
  </section>
</section>

<section id="home-infos">
  <div class="wide-container">
    <h2 class="home-title">Que faire après le décès ?</h2>

    <p>
      Le décès d'un proche est l'un des moments les plus douloureux de la vie de chacun.
      Nous ne sommes jamais réellement préparés à une pareille douleur.<br><br>
      Néanmoins, en dépit de la peine et de l'émotion, plusieurs démarches doivent être entreprises lors du départ d'un proche. Puisque les délais varient, nous vous proposons un résumé ci-dessous :
    </p>

    <div class="home-infos-grid">
      <div class="home-infos-img" style="background-image: url(<%= image_path 'rendez-vous.webp' %>)">
      </div>
      <div class="home-infos-text">
        <h3 class="home-title">Dans les premières 24h</h3>
        <ul class="home-infos-text-detail">
          <li>Faire constater le décès et aborder les questions relatives au don d’organes et don du corps</li>
          <li>Déclarer le décès dans la mairie du lieu de décès pour récupérer l'acte de décès</li>
        </ul>
        <p class="home-infos-text-detail">
          Certains contrats des services de Pompes Funèbres prévoient de se charger de la déclaration de décès à la mairie. Lors d’un décès dans un centre hospitalier, une clinique ou un hospice ; l’établissement effectue gratuitement cette démarche.
          <br><br>
          Pour vous aider dans vos démarches, vous pouvez consulter la page du gouvernement concernant les <%= link_to 'prestations funéraires.', "https://www.economie.gouv.fr/dgccrf/Publications/Vie-pratique/Fiches-pratiques/Prestations-funeraires",
              target: :_blank,
              class: 'bold link underline' %>
        </p>
      </div>
    </div>
    <div class="home-infos-grid">
      <div class="home-infos-text home-infos-first-month">
        <h3 class="home-title">Lors de la première semaine</h3>
        <ul class="home-infos-text-detail">
          <li> Légalement, les obsèques doivent avoir lieu dans les six jours suivant le décès, il vous faudra donc organiser les funérailles. Si la personne disparue était encore en activité, il faut prévenir son employeur (ou les ASSEDIC). Triez et conservez les papiers du défunt. Ils vous seront utiles.</li>
          <br>
          <li>Il est également recommandé de notifier dès que possible la banque du défunt. Dès lors, deux scénarios se présentent :</li>
          <br>
            <ul>
              <li><span class="underline">S'il s'agit d'un compte individuel,</span> il est immédiatement gelé. <br> La banque n'y enregistre donc plus aucune opération de dépôt ou de retrait. Toutefois, la banque accepte le règlement des frais suivants (et dans la limite de 5 000 €) : frais concernant les funérailles, frais de soins apportés au défunt lors de sa dernière maladie, impôts dus par le défunt.</li>
              <li><span class="underline">S'il s'agit d'un compte joint,</span> la convention de compte prévoit ce que devient le compte bancaire. En principe, le compte reste ouvert (sauf contre ordre), et profite aux cotitulaires survivants. Dans l'éventualité où il n'y aurait qu'un cotitulaire survivant, le compte devient automatiquement un compte bancaire individuel.</li>
            </ul>
        </ul>
        <p class="home-infos-text-detail">
          Plus d'informations <%= link_to ' sur le site du gouvernement', "https://www.service-public.fr/particuliers/vosdroits/F1451#:~:text=D%C3%A8s%20que%20la%20banque%20est%20inform%C3%A9e%20du%20d%C3%A9c%C3%A8s%20d'un,l'ensemble%20de%20la%20succession.",
              target: :_blank,
              class: 'bold link underline' %>
        </p>
      </div>
      <div class="home-infos-img home-infos-first-month" style="background-image: url(<%= image_path 'handshake.webp' %>)">
      </div>
    </div>
    <div class="home-infos-grid">
      <div class="home-infos-img" style="background-image: url(<%= image_path 'couple.webp' %>)">
      </div>
      <div class="home-infos-text">
        <h3 class="home-title">Durant les mois qui suivent</h3>
        <p class="home-infos-text-detail">
          Il est nécessaire de notifier diverses administrations publiques et privées telles que :
        </p>
        <ul class="home-infos-text-detail">
          <li>Le service des impôts</li>
          <li>La caisse de retraite</li>
          <li>Le bailleur</li>
          <li>Le service des immatriculations</li>
          <li>Les divers organismes sociaux concernés</li>
        </ul>
        <p class="home-infos-text-detail">
          Enfin, il faut notifier toutes les entreprises concessionaires auprès desquelles le defunt payait une souscription. <strong>En l'absence de notification des entreprises, les contrats perdurent et leur facturation revient aux héritiers.</strong>
          <span class="underline">C'est la raison pour laquelle il est conseillé de s'en occuper aussi vite que possible.</span>
        </p>
        <p class="home-infos-text-detail">
          <strong><em>Eligia</em> vise à vous décharger de ce poids en s'occupant de toutes ces démarches rapidement et efficacement.</strong><br>
          Le plus souvent il s'agit de contrats d'énergie (EDF, Engie, TotalEnergies, Eni...), d'abonnements télécoms (Orange, SFR, Bouygues, Free...),
          à des médias payants (Canal+, Netflix, BeinSport...) ou encore à des journaux et/ou magazines (Le Monde, Le Figaro, Le Parisien...).
        </p>
      </div>
    </div>
  </div>
</section>


<%= render 'shared/footer' %>
