<% content_for :title, "Eligia" %>

<div class="banner" data-controller="transparent-navbar">
  <div class="container">
    <h1>Résiliez en 10 minutes tous les <br> abonnements d'un proche disparu</h1>
    <p>Simplifier les démarches pour se concentrer sur le deuil</p>
    <%= link_to "Commencer", new_order_path, class:"btn-call-to-a" %>
  </div>
</div>

<div class="second-banner">
  <h2 class="highlight-green">Pourquoi Eligia ?</h2>
  <ul class="second-banner-list-items">
    <li class="second-banner-list-item">
      <%= image_tag('icon_fast.png', alt:'icone rapidité')%>
      <div class="second-banner-text">Démarche effectuée en <span class="highlight-yellow">quelques minutes</span> : il suffit de renseigner les comptes à résilier et de joindre les documents nécessaires</div>
    </li>
    <li class="second-banner-list-item">
      <%= image_tag('icon_list.png', alt:'icone vaste choix')%>
      <div class="second-banner-text"><span class="highlight-yellow">Tous types d'abonnements pris en compte</span> : internet, téléphonie fixe et mobile, journaux, magasines, énergie etc.</div>
    </li>
    <li class="second-banner-list-item">
      <%= image_tag('icon_price.png', alt:'icone prix attractif')%>
      <div class="second-banner-text">Un forfait <span class="highlight-yellow">attractif</span> : nos tarifs s'adaptent à vos besoins</div>
    </li>
    <li class="second-banner-list-item">
      <%= image_tag('icon_monitoring.png', alt:'icone suivi avec tableau de bord')%>
      <div class="second-banner-text">Un suivi <span class="highlight-yellow">facile</span> : grâce à un tableau de bord personnalisé qui vous permet de suivre facilement l'avancée des démarches depuis chez vous</div>
    </li>
  </ul>
</div>
<div class="container">
  <div class="home-infos" data-controller="home-infos-appear">
    <h2><span class="highlight-green">Point information</span> : que faire quand un proche nous a quitté ?</h2>
    <p>
      Le décès d'un proche est l'un des moments les plus douloureux de la vie de chacun.
      Nous ne sommes jamais réellement préparés à une pareille douleur.<br><br>
      Néanmoins, en dépit de la peine et de l'émotion,
      plusieurs démarches doivent êtres entreprises lors du départ d'un proche. Eligia vise à simplifier ce processus douloureux et chronophage pour vous premettre de vous concentrer sur votre deuil. <br><br>
      L'encadré ci-dessous résume les démarches à entreprendre ainsi que leurs délais :
    </p>
    <div class="timeline-legend-container">
      <div class="timeline-legend active" data-home-infos-appear-target="timelineItems" data-action="click->home-infos-appear#transition">
        1ère semaine
      </div>
      <div class="timeline-legend next" data-home-infos-appear-target="timelineItems" data-action="click->home-infos-appear#transition">
        1er mois
      </div>
      <div class="timeline-legend next-transparent" data-home-infos-appear-target="timelineItems" data-action="click->home-infos-appear#transition">
        6 mois
      </div>
    </div>
    <div class="timeline-container">
      <i class="fa-solid fa-circle-chevron-left fa-xl disabled"
         data-action="click->home-infos-appear#transitionLeft"
         data-home-infos-appear-target="arrowLeft"></i>
      <div class=timeline>
        <div class="timeline-checkpoint active"
            data-action="click->home-infos-appear#transition"
            data-home-infos-appear-target="checkpoints">
        </div>
        <div class="timeline-checkpoint next"
            data-action="click->home-infos-appear#transition"
            data-home-infos-appear-target="checkpoints">
        </div>
        <div class="timeline-checkpoint"
            data-action="click->home-infos-appear#transition"
            data-home-infos-appear-target="checkpoints">
        </div>
      </div>
      <i class="fa-solid fa-circle-chevron-right fa-xl"
         data-action="click->home-infos-appear#transitionRight"
         data-home-infos-appear-target="arrowRight"></i>
    </div>
    <ul class="home-infos-list">
      <li class="home-infos-list-item active" data-home-infos-appear-target="infoItems" data-action="click->home-infos-appear#transition">
        <div>
          Lors de la <span class="highlight-green">première semaine</span> suivant le décès, certaines démarches sont à réaliser en priorité.
          Parmi elles :
          <br>
          <br>
          <ul>
            <li>le constat du décès</li>
            <li>la déclaration du décès en mairie afin de pouvoir récupérer l'acte de décès,</li>
            <li>l'organisation des obsèques.</li>
        </div>
        <%= image_tag('funeral.png', alt:'icone funérailles', class: 'icon-infos') %>
        <div>
          Ces démarches sont souvent réalisées par les pompes funèbres qui proposent plusieurs sortes d'accompagnement
          personnalisés. Pour vous aider dans vos démarches, vous pouvez consulter la page du gouvernement concernant les <%= link_to 'prestations funéraires', "https://www.economie.gouv.fr/dgccrf/Publications/Vie-pratique/Fiches-pratiques/Prestations-funeraires",
              target: :_blank,
              class: 'bold-link' %>
          .
        </div>
      </li>
      <li class="home-infos-list-item next" data-home-infos-appear-target="infoItems" data-action="click->home-infos-appear#transition">
        <div>
          Durant le <span class="highlight-yellow">premier mois</span> :
          <br>
          <br>
          <ul>
            <li> Cloturation du compte en banque du défunt avec acte de notoriété. (Pensez néanmoins à noter l'IBAN
          du défunt pour les résiliations qui suivront.)
          </ul>
        </div>
        <%= image_tag('administration.png', alt:'icone tâches administratives', class: 'icon-infos') %>
        <div>
          Viennent ensuite les démarches suivantes :
          <br>
          <br>
          <ul>
            <li>Service des impots</li>
            <li>Caisse de retraites</li>
            <li>Potentiel bailleur</li>
            <li>Service des imatriculations</li>
            <li>Organismes sociaux divers</li>
          </ul>
        </div>
      </li>
      <li class="home-infos-list-item next-transparent" data-home-infos-appear-target="infoItems" data-action="click->home-infos-appear#transition">
        <div>
          Enfin, vous devrez résilier ou réattribuer les diverses souscriptions restantes du défunt. En l'absence de notification de l'entreprise concessionnaire, les contrats perdurent et <span class="highlight-blue">leur facturation revient aux héritiers.</span> C'est la raison pour laquelle il est conseiller de s'en occuper aussi vite que possible.
        </div>
        <%= image_tag('subscription.png', alt:'icone abonnements', class: 'icon-infos') %>
        <div>
          <em>Eligia</em> vise à vous décharger de ce poids en s'occupant de toutes ces démarches rapidement et efficacement. Le plus souvent il s'agit d'abonnements d'énergie (EDF, Engie, TotalEnergies, Eni...), télécoms (Orange, SFR, Bouygues, Free...)
          des médias payantrs (Canal+, Netflix, BeinSport...) ou encore à des journaux et/ou magazines (Le Monde, Le Figaro, Le Parisien...).
        </div>
      </li>
    </ul>
  </div>
</div>
