<div class="fullscreen">
  <div class="container">
    <div class="align-center">
      <h2 class="no-margin padding-four">Notre tarification</h2>
      <strong>Des tarifs clairs et modulaires, pour s'adapter à tous vos besoins.</strong>
    </div>

    <div class="tarif-card-box">
      <% @packs.each do |pack| %>
        <div class="tarif-card-<%= pack.level %>">
          <div class="tarif-card-top">
            <p class="highlight-<%=
              if pack.level == 1
                'green'
              elsif pack.level == 2
                'yellow'
              else
                'blue'
              end %>
            "><%= pack.title %></p>
          </div>
          <div class="tarif-card-price">
            <p><%= pack.price %> €</p>
          </div>
          <div class="tarif-card-description">
            <p><%= pack.description %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
