<% content_for :title, "Tarifs - Eligia" %>

<% content_for :scroll_navbar, 'scroll-navbar' %>
<% content_for :home_navbar, 'home-navbar' %>
<%= render 'shared/navbar' %>

<div class="  gradient-bg">
  <div class="wide-container padding-top-five">

    <h2 class="dashboard-title">Notre tarification</h2>
    <strong>Des tarifs clairs et modulaires, pour s'adapter à tous vos besoins.</strong>


    <div class="tarif-card-box">
      <div class="tarif-cards">
        <% @packs.each do |pack| %>
          <div class="tarif-card">
            <div class="ribbon">
              <div class="tarif-card-price">
                <span><%= pack.price.to_i %> € </span><span class='font-size-smaller'>(HT)</span>
              </div>
            </div>
            <div class="tarif-card-top">
              <p><%= pack.title %></p>
            </div>
            <div class="tarif-card-quantity">
              <p><%= pack.quantity_text %></p>
            </div>
            <div class="tarif-card-description">
              <p><%= pack.description %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
