<% content_for :title, "Mes démarches - Eligia" %>

<turbo-frame id="content">
  <% content_for :scroll_navbar, 'scroll-navbar' %>
  <% content_for :home_navbar, 'home-navbar' %>
  <%= render 'shared/navbar' %>

  <div class="fullscreen-no-navbar">

    <div class="banner user-banner">
      <div class="container dashboard-container">
        <h1><span class='unbold'><%= @current_user.first_name %></span> <%= @current_user.last_name %></h1>
        <ul class="dashboard-breadcrumb">
          <li class="dashboard-breadcrumb-item active">
            <%= link_to "Espace personnel", user_path(current_user), data: { turbo_frame: :_top } %>
          </li>
          <li class="dashboard-breadcrumb-separator"></li>
          <li class="dashboard-breadcrumb-item">Dossier de <%= @order.deceased_full_name %></li>
        </ul>
      </div>
    </div>

    <div class="container">
      <div class="order-steps-title">
        <%= image_tag 'order-steps.svg', alt: "Personnes envoyant des lettres", class: "order-steps-img" %>
        <h4>Avancée de vos démarches :</h4>
      </div>
      <div class="order-steps">
        <% @order.aasm.states.each do |state| %>
          <div class="order-step three-steps <%= @order.passed_state?(state.to_s) ? 'active' : '' %>">
            <div class="order-step-title"><%= @order.state_to_french(state.to_s) %></div>
          </div>
        <% end %>
      </div>
      <div class="user-dashboard-content">
        <div class="order-dashboard-section">
          <% unless @order.non_uploaded_order_documents.empty? %>
            <div id="docs-<%=@order.id%>">
              <%= render 'shared/order_document_input_card', order_documents_to_add: @order.non_uploaded_order_documents,
                                                             order_account: false,
                                                             no_doc_message: '',
                                                             modal_height: '' %>
            </div>
          <% end %>
        </div>

        <div class="order-dashboard-section">
          <h3 class="dashboard-title margin-top-four width-fit-content">État des contrats à résilier :</h3>
            <div id="oa-cards-<%= @order.id %>">
              <%= render "orders/order_account_cards", order: @order %>
            </div>
        </div>


        <% if @order.invoice_file.attached? %>
          <div class="order-dashboard-section">
            <h3 class="dashboard-title margin-top-four width-fit-content">État des contrats à résilier :</h3>
              <div class="box margin-bottom-five">
                <div class="box-invoice-btn">
                  <a class="btn-third small" href=<%=@order.invoice_file.url%> target='_blank'> Voir la facture</a>
                </div>
                <div class="box-invoice">
                  <ul class="box-invoice-part">
                    <li class="box-invoice-part-title">Ouverture du dossier :</li>
                    <li><%= l(Date.parse(@order.created_at.to_s), format: :long) %></li>
                  </ul>
                  <ul class="box-invoice-part">
                    <li class="box-invoice-part-title">Récapitulatif :</li>
                    <li><span>Nombre de contrats :</span> <span><%= @order.order_accounts.count %></span></li>
                    <li><span>Forfait :</span> <span><%= @order.pack.title %></span></li>
                    <li><span>Prix HT :</span> <span><%= @order.pack.price / 1.2 %>€</span></li>
                    <li><span>TVA (20%) :</span> <span><%= @order.pack.price / 1.2 * 0.2 %>€</span></li>
                    <li><span>Total TTC :</span> <span><%= @order.pack.price %>€</span></li>
                  </ul>
                  <ul class="box-invoice-part">
                    <li class="box-invoice-part-title">Adresse de facturation :</li>
                    <li><%= @order.address.street %></li>
                    <% unless @order.address.complement.nil? %>
                      <li><%= @order.address.complement %></li>
                    <% end %>
                    <li><%= @order.address.zip %> - <%= @order.address.city %></li>
                    <li><%= @order.address.state %></li>
                  </ul>
                </div>
                <%# <%= link_to "Voir live", show_invoice_pdf_order_path(@order), class:'btn-third small', target:'_blank' %>
              </div>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</turbo-frame>
