<% content_for :title, "Centre d'aide - Eligia" %>

<%= render 'help_navbar' %>

<div class="container">
  <div class="fullscreen">
    <div class="help-title">
      <%= image_tag 'documents.svg', alt: "logo documents" %>
      <h1>Nous fournir les documents nécessaires</h1>
    </div>

    <ul class="help-summary">
      <h3 class="help-title">Questions fréquemment posées :</h3>
      <li><%= link_to "Comment savoir si l'information est bonne ?", { anchor: 'direct-docs' }, class: 'blue-link' %></li>
      <li><%= link_to "Je n'ai pas tous les documents, que dois-je faire ?", { anchor: 'definitive-choice' }, class: 'blue-link' %></li>
    </ul>

    <div class="help-text">
      <p>
        L'importation des informations relatives au défunt sur eligia consitue la
        deuxième étape de votre démarche de résiliations. La liste des documents
        demandés lors de cette étape est établie grâce au noms des contrats que
        vous nous avez fourni en amont. Cette liste est donc unique à chaque démarche
        et est faite de façon à ce que vous nous fournissiez uniquement les documents
        nécessaires.
      </p>
      <h3 class="help-title">Format des documents</h3>
      <ul>
        <li>
          Sous forme de fichier : que ce soit un document officiel (acte de décès)
          ou une photo (pour la pièce d'identité par exemple), les fichiers sont
          téléchargeables <em>via</em> le bouton "Ajouter". Vous verrez alors le nom
          de votre fichier d'ajouter sur la droite du bouton si celui-ci a bien été
          importé. Si après quelques secondes/minutes rien ne se passe, vous pouvez
          réessayer. Si vous n'êtes pas satisfait de l'import du document, vous pouvez
          modifier ce dernier en cliquant sur "Modifier".<br>
          Attention, vous ne pouvez pas importer plusieurs fichiers sur un même bouton.
        </li>
        <li>
          Sous forme de texte : dans ce genre de contexte (numéro de téléphone, IBAN,
          adresse ...), il suffit simplement d'écrire dans l'encadré l'information. NB:
          vous ne pourrez pas passer à l'étape suivant si l'information rentrée ne suit
          pas le format standard demandé.
        </li>
      </ul>
      <h3 class="help-title" id="direct-docs">Suivi des documents</h3>
      <p>
        De la même manière que pour la première étape, l'import des documents peut être
        suivie en temps réel sur la droite de votre navigateur. Ainsi, vous pouvez voir
        si le format des documents/informations est valide et si tous ont été renseignés
        et pour quels contrats.
      </p>
      <h3 class="help-title" id="definitive-choice">Passage à l'étape suivante</h3>
      <p>
        En revanche et contrairement à la première étape, l'importation des documents n'est pas
        indispensable à la création de votre démarche. En effet, si vous n'êtes pas
        en possession des documents le jour de votre demande, vous pourrez encore
        ajouter les fichiers, après paiement, sur votre compte personnel (dans la
        rubrique "Mes démarches" et en sélectionnant la démarche concernée).
        Attention néanmoins, le(s) document(s) demandé(s) est(sont) nécessaire(s) pour
        l'envoi de la résiliation à l'entreprise concernée.
      </p>
    </div>

    <%= render 'helps/contact-us' %>

    <h4 class="margin-y-five">Voir aussi :</h4>
    <ul class="clean-list">
      <li><%= link_to 'Renseigner les comptes du défunt à résilier', contrats_helps_path, class: 'blue-link' %></li>
      <li><%= link_to "Être sûr d'avoir tout renseigné", recapitulatif_helps_path, class: 'blue-link' %></li>
      <li><%= link_to "Quels sont les tarifs ?", tarifs_helps_path, class: 'blue-link' %></li>
    </ul>
  </div>

</div>

<%= render 'shared/footer' %>
