<% content_for :title, "Centre d'aide - Eligia" %>

<%= render 'help_navbar' %>

<div class="container">
  <div class="fullscreen">
    <h1>Les tarifs</h1>

    <div class="help-text">
      <p>
        Chez eligia, nous savons que chaque personne est unique et ainsi, personne n'aura jamais le même
        nombre d'abonnements. C'est la raison pour laquelle nous avons choisi de faire une facturation
        abordable et progressive en fonction du nombre de contrats à résilier.
      </p>
      <p>
        Pour utiliser ce service, vous aurez le choix entre trois prix différents
      </p>
      <ul>
        <% @packs.each do |pack| %>
          <li>
            <p>Le pack <span class="bold"><%= pack.title.downcase %></span>, <%= pack.price.to_i %> €. permettant de résilier <%= pack.quantity_text.downcase %>. <%= pack.description %></p>
          </li>
        <% end %>
      </ul>
    </div>

    <%= render 'helps/contact-us' %>

    <h4 class="margin-y-five">Voir aussi :</h4>
    <ul class="clean-list">
      <li><%= link_to 'Renseigner les comptes du défunt à résilier', contrats_helps_path, class: 'blue-link' %></li>
      <li><%= link_to 'Importer les documents demandés', documents_helps_path, class: 'blue-link' %></li>
      <li><%= link_to "Être sûr d'avoir tout renseigné", recapitulatif_helps_path, class: 'blue-link' %></li>
    </ul>
  </div>
</div>

<%= render 'shared/footer' %>
