<!DOCTYPE html>
<html lang="fr">
  <head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-M8WXRW11HK"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-M8WXRW11HK'); // Balise Google Ads + Google Analytics
      gtag('config', 'AW-10977648623'); // Compte Google Ads
    </script>
    <% if content_for?(:title) %>
      <title>
        <%= yield(:title) %>
      </title>
    <% end %>
    <%= display_meta_tags(default_meta_tags) %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <% if content_for?(:meta) %>
      <meta name='viewport' content="<%= yield(:meta)%>">
    <% end %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

  </head>

  <body class=<%= content_for?(:bodyclass) ? yield(:bodyclass) : "" %>>
    <%= yield %>
    <turbo-frame id="flash">
      <%= render 'shared/flash' %>
    </turbo-frame>
  </body>
  <%= stylesheet_link_tag "render_blocking_resources", "data-turbo-track": "reload" %>
  </html>
