<!DOCTYPE html>
<html lang="fr">
  <head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-M8WXRW11HK"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-M8WXRW11HK');
    </script>
    <title>
      <% if content_for?(:title) %>
        <%= yield(:title) %>
      <% else %>
        Eligia - Résiliations suite au décès
      <% end %>
    </title>
    <link rel="icon" type="image/png" sizes="32x32" href=<%=image_path('eligia-favicon-32x32.png')%>>
    <meta name="description" content="Résiliez d'un seul coup tous les abonnements d'un proche disparu. Simplifier les démarches pour se concentrer sur le deuil.">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <% if content_for?(:meta) %>
      <meta name='viewport' content=<%= yield(:meta)%>>
    <% end %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= yield %>
    <%= render 'shared/flash' %>
  </body>
  <%= stylesheet_link_tag "render_blocking_resources", "data-turbo-track": "reload" %>
  </html>
